@use 'font';
@use 'var' as *;
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $font;
    font-weight: 400;
	color: $light;
    background-color: #1f2023;
    overflow-x: hidden;
	
}
a {
    text-decoration: none;
}
button {
	cursor: pointer;
}

.title-h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $grey;
}

.header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 71px;
    position: fixed;
    top: 0;
    width: 100%;
	z-index: 999;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 27px;
        position: absolute;
        background-color: $accent;
        top: 0;
        z-index: -1;
    }
    
    &__logo {
        background-color: $accent;
        padding: 17px 45px 0 45px;
        border-top-left-radius: 10px;
        position: relative;
        @media (max-width: $r_desk) {
            padding: 17px 20px 0 20px;
        }
        &::before {
            content: '';
            display: block;
            width: 26px;
            height: 24px;
            background-image: url(../images/header-bottom-left.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            bottom: -24px;
            left: 0;
        }
        &::after {
            content: '';
            display: block;
            width: 68px;
            height: 71px;
            background-image: url(../images/header-left.svg);
            position: absolute;
            right: -68px;
            top: 0;
        }
    }
    &__info {
        background-color: $accent;
        padding: 17px 45px 0 45px;
        border-top-right-radius: 10px;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 26px;
            height: 24px;
            background-image: url(../images/header-bottom-right.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: 0;
            bottom: -24px;
        }
        &::after {
            content: '';
            display: block;
            width: 68px;
            height: 71px;
            background-image: url(../images/header-right.svg);
            position: absolute;
            left: -68px;
            top: 0;
        }
    }
    &__link {
        font-weight: 400;
        font-size: 20px;
        color: $light;
        padding-bottom: 5px;
        border-bottom: 1px solid $light;
        transition: $tr;     
        @media (hover: hover) {
            &:hover {
                border-bottom: 1px solid $accent; 
            }    
        }  
    }
    
}

.logo {
    &._max {
        svg {
            width: 400px;
            height: 31px;
        }
    }
    &._min {
        svg {
            width: 296px;
            height: 22px;
        }
    }
}

.container {
    width: min(1830px, calc(100% - 90px));
    margin-inline: auto;
    // width: 100%;
    // max-width: 1830px;
    // margin: 0 auto;
    // padding: 0 45px 0 45px;
    @media (max-width: 1024px) {
        width: calc(100% - 40px);
    }
}

.banner {
    display: flex;
    margin-top: 135px;
    border-radius: 50px;
    padding: 100px 50px;
    width: 100%;
    min-height: 861px;
    background: url(../images/bg-banner.jpg) center center/cover no-repeat;
	gap: 50px;
	&__main {
		flex-basis: 61%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
	}
	&__info {
		flex-basis: calc(39% - 50px);
		display: flex;
		flex-direction: column;
		justify-content:space-between;
		// gap: 19px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: end;
		border: 1px solid $light;
		border-right: none;
		border-radius: 20px 0 0 20px;
		height: 151px;
		position: relative;
		margin-right: 80px;
		padding: 45px 0 30px 30px;
		transition: $tr;
        z-index: 1;
        @media (hover: hover) {
            &:hover {
                &::before {
                    width: 100%;
                    // height: 151px;
                    opacity: 1;
                    transform: scale(1);
                }
                .banner__decor {
                    background-color: $accent;
                    border-color: $accent;
                    &::after {
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
        }
		&::before {
            content: ' ';
            display: block;
            width: 0;
            height: 151px;
            background-color: $accent;
            // border-color: $accent;
            border: 1px solid $accent;
            position: absolute;
            top: -1px;
            right: 0;
            border-radius: 20px 0 0 20px;
            z-index: -1;
            opacity: 0;
            transition: $tr;
            transform: scale(0);
            transform-origin: top right;
        }
		
	}
	&__text {
		font-weight: 200;
		font-size: 24px;
		line-height: 110%;
		span {
			margin-top: 15px;
			display: block;
			font-weight: 700;
			font-size: 32px;
		}
	}
	&__decor {
		position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
		top: 0;
		right: -80px;
		border: 1px solid $light;
		border-radius: 10px;
		// padding: 9px;
		width: 50px;
		height: 50px;
        transition: $tr;
        &::before {
			content: '';
			display: block;
			width: 80px;
			height: 151px;
			background-image: url(../images/banner-info-decor.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			right: 0px;
			top: -1px;
		}
		&::after {
			content: '';
			display: block;
			width: 80px;
			height: 151px;
            transform: scale(0);
            transform-origin: top left;
			background-image: url(../images/banner-info-decor-hover.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			right: 0px;
			top: -1px;
			opacity: 0;
			transition: $tr;
			
		}
	}

    &__title {
        width: 1031px;
        min-height: 140px;
        font-weight: 700;
        font-size: 64px;
        line-height: 110%;
        color: $light;
    }
    &__btn {
        // margin-top: 135px;
        padding: 30px;
        width: 100%;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: $accent;
        font-weight: 600;
        font-size: 20px;
        line-height: 110%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $light;
        transition: $tr;
        cursor: pointer;
        @media(hover: hover) {
			&:hover {
				border: 1px solid $accent;
           		background-color: transparent;
			}
        }
       
    }
}
.banner-box {
    margin-top: 20px;
    padding: 30px 332px 30px 30px;
    border: 1px solid #fff;
    border-radius: 20px;
    // width: 1031px;
    min-height: 236px;
    position: relative;
    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 110%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $light;
    }
    &__text {
        margin-top: 30px;
        // width: 669px;
        min-height: 120px;
        font-size: 20px;
        line-height: 150%;
        color: $light;
    }
    &__img {
        position: absolute;
        &._electroguitar {
        width: 336px;
        height: 273px;
        bottom: 30px;
        right: -21px;
        }
    }
}

.tag {
    margin-top: 150px;
    display: flex;
    gap: 64px;
    animation: move-left 20s infinite linear alternate;
    // overflow: hidden;
    @media (hover: hover) {
        &:hover {
            animation-play-state: paused;    
        }
    }
    &__text {
        border: 1px solid #ededed;
        border-radius: 50px;
        padding: 10px 20px;
        height: 46px;
        font-weight: 200;
        font-size: 24px;
        line-height: 110%;
        color: $grey;
        position: relative;
        &::before, &:last-child::after {
            content: '';
            display: block;
            position: absolute;
            top: calc(50% - 8px);
            bottom: 0;
            margin: 0 auto;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background-color: $accent;
        }
        &::before {
            left: -40px

        }
        &:last-child::after {
            right: -40px;
        }
    }
}



@keyframes move-left {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.course {
    margin-top: 150px;
    display: flex;
    gap: 70px;
    &__title {
        flex-basis: 394px;
    }
    &__content {
        flex-basis: calc(100% - 395px - 70px);
        width: calc(100% - 395px - 70px);
    }
}

.course-control {
    // margin-top: 20px;
    display: flex;
    align-items:center;
    gap: 20px;
    &__prev, &__next {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        background-color:transparent;
        border: 1px solid $light;
        border-radius: 50px;
        // padding: 20px;
        right: inherit;
        left: inherit;
        position: inherit;
        transition: $tr;
        @media (hover: hover) {
            &:hover {
                background: $accent;
                border: 1px solid $accent;
            }
        }
        &::after {
            content: '';
            display: block;
            width: 49px;
            height: 24px;
            background-repeat: no-repeat;
		    background-size: contain;
            
        }

    }
    &__prev {
        &::after {
            background-image: url(../images/ui/arrow-prev.svg);
        }
        

    }
    &__next {
        &::after {
        background-image: url(../images/ui/arrow-next.svg);
    }
    }
}
.slider-teacher {
    &__item {
        // height: 707px;
        background-color: $dark;
        border: 1px solid $dark;
        border-radius: 50px;
        padding-top: 70px;
        position: relative;
        overflow: hidden;
        transition: $tr;
        @media (hover: hover) {
            &:hover {
                border-color: $accent;

                .slider-teacher__name {
                    opacity: 1;
                }
                .slider-teacher__grid {
                    opacity: 1;
                    // 
                }
            }
        }
    }
    &__grid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: $tr;
        z-index: -1;

    }
    &__img {
        height: 637px;
        object-fit: cover;
        width: 100%;
        // z-index: -1;
        // border-radius: 50px;
    }
    &__name {
        width: 100%;
        position: absolute;
        bottom: 30px;
        left: 30px;
        font-weight: 400;
        font-size: 24px;
        line-height: 110%;
        color: $grey;
        opacity: 0;
        transition: $tr;
        z-index: 1;
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 637px;
            background: linear-gradient(42deg, rgba(0, 0, 0, 0.75) 0%,rgba(0, 0, 0, 0.00) 59.08%);
            background-repeat: no-repeat;
            position: absolute;
            left: -30px;
            bottom:-30px;
            z-index: -1;
        }
    }
}
.course__schedule {
    margin-top: 50px;
}
.accordion {
    
    &__btn {
        border: 1px solid $light;
        border-radius: 20px;
        padding: 20px 25px 20px 30px;
        width: 100%;
        height: 90px;
        background-color: $light;
        border: none;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        color: $accent;
        text-align: left;
        // position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &::after {
            content: '';
            display: block;
            width: 50px;
            height: 50px;
            background-image: url(../images/ui/minus.svg);
            background-repeat: no-repeat;
            background-size: contain;
            // position: absolute;
            // right: 20px;
            // top: 20px;
            // transform: translateY(-50%)
        }
        &.active {
            &::after {
                background-image: url(../images/ui/plus.svg); 
            }
        }
    }
    &__panel {
        margin-top: 24px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        border-radius: 20px;
        width: 100%;
        background: $light;
    }
    &__list {
        padding: 30px 50px;
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__item {
        margin-left: 30px;
        padding-bottom: 15px;
        border-bottom: 1px solid $grey;
        font-weight: 300;
        font-size: 24px;
        line-height: 110%;
        color: $dark;
        display: flex;
        align-items: center;
        gap: 10px;
        &::before {
            content: '—';
        }
    }
}

.steps {
    margin-top: 150px;
    margin-inline: auto;
    border: 1px solid $grey;
    border-radius: 50px;
    padding: 150px 0;
    max-width: 1920px;
    min-height: 591px;
    background: linear-gradient(180deg, #1f2023 0%, #7027e2 50%, #1f2023 100%);
    &__list {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__item {
        background-color: $light;
        border-radius: 50px;
        padding: 30px;
        width: 25%;
        min-height: 206px;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #2a2f36;
    }
}

.result {
    margin-top: 150px;
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin-top: 50px;
    }
    &__item {
        background-color: $light;
        border-radius: 20px;
        padding: 30px;
        min-height: 174px;
        &._subgrid {
            grid-column: 2 / 5;
            display: grid;
            grid-template-columns: subgrid;

        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: $dark;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        span {
            width: fit-content;
            font-weight: 600;
            font-size: 24px;
            line-height: 110%;
            text-align: center;
            color: $light;
            border-radius: 10px;
            padding: 10px;
            background: $accent;

        }
    }
    &__btn {
        grid-column: 2 / 4;
        // padding: 30px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        background-color: $accent;
        font-weight: 600;
        font-size: 20px;
        line-height: 110%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $light;
        transition: $tr;
        cursor: pointer;
        @media(hover: hover) {
			&:hover {
				border: 1px solid $accent;
           		background-color: transparent;
                color: $accent;
			}
        }
       
    
    }
}

.areas {
	margin-top: 150px;
	margin-bottom: 100px;
	&__wrapper {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
    &__link {
        display: flex;
		justify-content: space-between;
		align-items: center;
		height: 108px;
        padding: 30px;
        transition: $tr;
		background-color: transparent;
        border-bottom: 1px solid $accent;
		font-weight: 400;
		font-size: 32px;
		line-height: 150%;
		color: $light;
		position: relative;
		&::after {
			content: '';
			display: block;
			width: 48px;
			height: 48px;
			background-image: url(../images/ui/arrow-up.svg);
			background-repeat: no-repeat;
			background-size: contain;
			transition: $tr;
		}
        @media(hover: hover) {
			&:hover {
                background-color: $accent;
                border-radius: 10px;
				&::after {
					transform: rotate(45deg);
				}
				&::before {
					opacity: 1;
					transform: scale(1);
				}
			}
        }
		&::before {
			content: '';
			display: block;
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			left: 718px;
			opacity: 0;
			transform: scale(0);
			transition: 0.5s;
		}
		&._acoustic {
			&::before {
				content: '';
				background-image: url(../images/areas/acoustic.png);
				left: 769px;
				height: 365px;
				width: 522px;
				top: calc(50% - 182px);
			}
		}
		&._drums {
			&::before {
				content: '';
				background-image: url(../images/areas/drums.png);
				height: 474px;
				width: 474px;
				top: calc(50% - 237px);
			}
		}
		&._violin {
			&::before {
				content: '';
				background-image: url(../images/areas/violin.png);
				height: 568px;
				width: 568px;
				top: calc(50% - 284px);
			}
		}
		&._bas-guitar {
			&::before {
				content: '';
				background-image: url(../images/areas/bas-guitar.png);
				height: 374px;
				width: 522px;
				top: calc(50% - 187px);
			}
		}
    }
}
.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 20px;
    padding: 30px 50px;
    margin-bottom: 10px;
    // width: 1831px;
    height: 160px;
    background: $dark;
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $light;

    }
    &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: $accent;
    }
    &__copy {
        display: flex;
        justify-content: end;
        align-items: end;
    }

}
.social {
    display: flex;
    // align-items: center;
    justify-content: end;
    gap: 10px;
    
    // float: right;
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        // display: block;
        border-radius: 10px;
        width: 44px;
        height: 44px;
        background: $light;
        background-repeat: no-repeat;
        @media (hover: hover) {
            &:hover {
                background-color: $accent;
                &::after {
                    background-color: $light;
                }
            }
        }
        &::after {
            content: '';
            display: block;
            background-color: $accent;
            mask: center center / 100% no-repeat;
            -webkit-mask: center center / 100% no-repeat;
        }
        &._wa {
            &::after {
                width: 28.125px;
                height: 28.125px;
                mask-image: url(../images/social/wa.svg);
                -webkit-mask-image: url(../images/social/wa.svg);
            }           
        }
        &._vk {
            &::after {
                width: 31.25px;
                height: 18.75px;
                mask-image: url(../images/social/vk.svg);
                -webkit-mask-image: url(../images/social/vk.svg);
            }           
        }
        &._tg {
            &::after {
                width: 25px;
                height: 21.875px;
                mask-image: url(../images/social/tg.svg);
                -webkit-mask-image: url(../images/social/tg.svg);
            }           
        }
    }
}